*{
	font-family: Times New Roman;
}

#welcome {
	text-align: center;
	background: gray;
	margin: -13px;
	padding: 10px;
}

#about {
	text-align: center;
	background: #ee6e73;
	margin: -13px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 20px;
}

#recent{
	text-align: center;
}

#projects {
	text-align: center;
}

#lanAndTools {
	text-align: center;
}

#tools {
	text-align: center;
}

.devicon-html5-wordmark {
	font-size: 5em;
}

.fa-github {
	background: black;
	color: white;
	padding: 5px;
	margin: 5px;
	font-size: 30px;
	width: 40px;
	height: 40px;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
	padding: 5px;
	margin: 5px;
	font-size: 30px;
	width: 40px;
	height: 40px;
}




